[submodule "gumtree"]
    path = gumtree
    url = https://github.com/ViktorAryd/gumtree.git
[submodule "tree-sitter-parser"]
    path = tree-sitter-parser
    url = https://github.com/ViktorAryd/tree-sitter-parser.git